<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <form action="/cameras" method="GET">
                <button type="submit">Cameras</button>
              </form>
        </div>
        <div>
            <button>FacialID</button>
        </div>
    </div>
</body>
</html>

<style>
    div{
        display: flex;
        margin: auto;
        justify-content: space-around;
        align-items: center;
        width: 500px;
        height: 300px;
    }
    div button{
        width: 200px;
        height: 100px;
        cursor: pointer;
        margin: auto;
        border: 1px solid;
        border-radius: 10px;
    }
</style>