<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Stream da Câmera</title>
  </head>
  <body>
    <h1>Stream da Câmera</h1>
    <video id="camera" controls autoplay>
      <source src="<%= rtspUrl %>" type="application/x-rtsp">
    </video>
  </body>
</html>
